# Importing Libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import (StandardScaler, MinMaxScaler)
import statsmodels.api as sm

In [46]:
#loading the data 
file1 = pd.read_excel('Data/Data_MidTerm_Project_Real_State_Regression.xls')
file1

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,3,2.50,1530,1131,3.0,0,0,3,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,360000
21593,6600060120,2015-02-23,4,2.50,2310,5813,2.0,0,0,3,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,400000
21594,1523300141,2014-06-23,2,0.75,1020,1350,2.0,0,0,3,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,402101
21595,291310100,2015-01-16,3,2.50,1600,2388,2.0,0,0,3,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,400000
21596,1523300157,2014-10-15,2,0.75,1020,1076,2.0,0,0,3,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,325000

# Model 2: Multiple Linear Regression (MLR)
## Using Statsmodel

In [9]:
numeric=file1._get_numeric_data

In [50]:
#x-y split
X=file1.drop('price', axis=1)
Y=file1.price

In [51]:
X=X._get_numeric_data()
X

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21593,6600060120,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21594,1523300141,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21595,291310100,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21596,1523300157,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [52]:
# Train/Test Split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size= 0.2, random_state=0)

In [53]:
X.columns

Index(['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [54]:
std_scaler=StandardScaler().fit(X_train) 

X_train_scaled=std_scaler.transform(X_train)
X_test_scaled=std_scaler.transform(X_test)

In [55]:
X=sm.add_constant(X)        #to add constant value in the model
model= sm.OLS(Y,X).fit()         #fitting the model
predictions= model.summary()      #summary of the model
predictions

X_train_const_scaled = sm.add_constant(X_train_scaled) # adding a constant

model = sm.OLS(y_train, X_train_const_scaled).fit()
predictions_train = model.predict(X_train_const_scaled) 

X_test_const_scaled = sm.add_constant(X_test_scaled) # adding a constant
predictions_test = model.predict(X_test_const_scaled) 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.699
Model:                            OLS   Adj. R-squared:                  0.698
Method:                 Least Squares   F-statistic:                     2223.
Date:                Wed, 17 Nov 2021   Prob (F-statistic):               0.00
Time:                        14:47:47   Log-Likelihood:            -2.3581e+05
No. Observations:               17277   AIC:                         4.717e+05
Df Residuals:                   17258   BIC:                         4.718e+05
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        5.42e+05   1559.322    347.585      0.000    5.39e+05    5.45e+05
x1         -4210.6241   1581.718     -2.662      0.008   -7310.953   -1110.295
x2         -3.253e+04   1996.307    -16.295      0.000   -3.64e+04   -2.86e+04
x3          3.025e+04   2863.017     10.565      0.000    2.46e+04    3.59e+04
x4          8.459e+04   1812.244     46.674      0.000     8.1e+04    8.81e+04
x5          1785.7955   2273.960      0.785      0.432   -2671.396    6242.987
x6          2363.5925   2211.798      1.069      0.285   -1971.757    6698.941
x7          4.781e+04   1718.668     27.819      0.000    4.44e+04    5.12e+04
x8          4.331e+04   1878.400     23.055      0.000    3.96e+04     4.7e+04
x9          1.724e+04   1742.902      9.891      0.000    1.38e+04    2.07e+04
x10         1.147e+05   2890.786     39.677      0.000    1.09e+05     1.2e+05
x11          7.92e+04   1936.958     40.888      0.000    7.54e+04     8.3e+04
x12         2.759e+04   1779.439     15.505      0.000    2.41e+04    3.11e+04
x13        -7.693e+04   2434.225    -31.603      0.000   -8.17e+04   -7.22e+04
x14         7422.1556   1672.511      4.438      0.000    4143.864    1.07e+04
x15        -3.206e+04   2018.815    -15.880      0.000    -3.6e+04   -2.81e+04
x16         8.471e+04   1696.405     49.932      0.000    8.14e+04     8.8e+04
x17        -3.038e+04   2111.062    -14.391      0.000   -3.45e+04   -2.62e+04
x18         1.323e+04   2675.623      4.943      0.000    7981.785    1.85e+04
x19        -1.055e+04   2282.222     -4.621      0.000    -1.5e+04   -6072.534
==============================================================================
Omnibus:                    15150.645   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1697182.595
Skew:                           3.718   Prob(JB):                         0.00
Kurtosis:                      50.982   Cond. No.                     7.43e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.64e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.